
DATABASE_URL="postgresql://user:password@localhost:5432/trading_app?schema=public"


PORT=3001
NODE_ENV=development


BINANCE_WEBSOCKET_URL=wss://stream.binance.com:9443/ws
TRADING_SYMBOLS=btcusdt,ethusdt,bnbusdt,solusdt,adausdt

# Optional API keys (if needed for private endpoints)
# BINANCE_API_KEY=your_api_key_here
# BINANCE_API_SECRET=your_api_secret_here 